:root {
    --clr-blue-un: hsl(239, 94%, 19%);
    --clr-blue-deux: hsl(214, 97%, 27%);
    --clr-blue-trois: hsl(201, 100%, 36%);
    --clr-blue-quatre: hsl(195, 100%, 39%);
    --clr-blue-cinq: hsl(190, 100%, 42%);
    --clr-blue-six: hsl(190, 74%, 59%);
    --clr-blue-sept: hsl(189, 75%, 75%);
    --clr-blue-huit: hsl(190, 76%, 82%);
    --clr-blue-neuf: hsl(190, 77%, 88%);
}.faq-section{
    min-height: 60svh;
}
.faq-title-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-title{
    font-size: 3em;
    margin-bottom: 36px;
}
.faq-accordion{
    padding: 4rem;
}
.faq-accordion-sign{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
}
.active{
    transition: max-height 2s ease-in-out;
    max-height: 1000px;
}
.inactive{
    display: none;
}
span{
    font-size: 1.4em;
}
