:root {
    --clr-blue-un: hsl(239, 94%, 19%);
    --clr-blue-deux: hsl(214, 97%, 27%);
    --clr-blue-trois: hsl(201, 100%, 36%);
    --clr-blue-quatre: hsl(195, 100%, 39%);
    --clr-blue-cinq: hsl(190, 100%, 42%);
    --clr-blue-six: hsl(190, 74%, 59%);
    --clr-blue-sept: hsl(189, 75%, 75%);
    --clr-blue-huit: hsl(190, 76%, 82%);
    --clr-blue-neuf: hsl(190, 77%, 88%);
}

/* ----------- h-page-first ----------- */

/* ----------- Left ----------- */
.h-page-first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 6rem;
}
.h-left h1{
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 2rem;
}
.h-search{
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
    width: 400px;
    max-width: 100%;
    position: relative;
}
.h-search input{
    padding: 1rem 2rem;
    width: 260px;
    border-radius: 2vmax;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: rgb(223, 223, 223);
    outline-color: white;
}
.h-search input::placeholder{
    color: rgb(129, 129, 129);
}
.h-search .btn-search{
    padding: 1.4rem 1.4rem;
    border-radius: 2vmax;
    height: 80%;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    color: white;
    transition: all 0.12s ease-in;
    background-color: var(--clr-blue-trois);
}
.h-search .btn-search:active{
    transform: translate(0px, 1px);
    opacity: 80%;
}
.h-review{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.h-review-p{
    font-size: 2em;
    margin-right: 10px;
}
.h-note{
    display: flex;
    flex-direction: column;
}
.h-green{
    display: flex;
    align-items: center;
    width: fit-content;
}
.h-green span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(15, 161, 15);
    margin-right: 2px;
}
.h-green p{
    margin-left: 6px;
}
/* ----------- Right ----------- */
.h-right img{
    width: fit-content;
    height:max-content;
    margin-bottom: 2rem;
}

/* ----------- h-page-second ----------- */

.logo-business{
    display: flex;
    justify-content: space-around;
    
}