:root {
    --clr-blue-un: hsl(239, 94%, 19%);
    --clr-blue-deux: hsl(214, 97%, 27%);
    --clr-blue-trois: hsl(201, 100%, 36%);
    --clr-blue-quatre: hsl(195, 100%, 39%);
    --clr-blue-cinq: hsl(190, 100%, 42%);
    --clr-blue-six: hsl(190, 74%, 59%);
    --clr-blue-sept: hsl(189, 75%, 75%);
    --clr-blue-huit: hsl(190, 76%, 82%);
    --clr-blue-neuf: hsl(190, 77%, 88%);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100svh;
}